.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 32px;
    margin: 50px;
}

.products-container img {
    max-width: 100%;
    border-radius: 10px;
}

.review-order-btn {
    width: 100%;
    border-radius: 4px;
    background: #F90;
    font-size: 17px;
    margin-top: 16px;
}

.pagination{
    text-align: center;
    margin-bottom: 20px;
}
.pagination button{
    margin-right: 10px;
}

.pagination .selected{
    background-color:darkslateblue
}